<div class="container mt-5">
    <div class="card-team-infos">
      <% if @team.photo.attachment %>
        <%= cl_image_tag @team.photo.key, class: "photo" %>
      <% else  %>
        <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80" class= "photo">
      <% end %>
        <div class="card-infos-text">
         <h2><%= @team.name  %></h2>
          <%= @team.address  %>
        </div>
    </div>
        <div class="display-card">
          <% @team.users.each do |user| %>
          <div class="card-infos-user">
              <% if user.photo.attachment %>
                <%= cl_image_tag user.photo.key, class: "avatar-bordered defaut m-1" %>
              <% else %>
                <img src="https://res.cloudinary.com/dsaxkp6xo/image/upload/v1606476250/xeufvuv1hyp198mg13x09b6y3iim.jpg" class="avatar-bordered defaut m-1">
              <% end %>
              <div class="text-center">
                <%= user.first_name%>
                <%= user.last_name%>
              </div>
            <%= user.description  %>
          </div>
          <% end %>
        </div>
</div>
