<div class="container footer-fix">
	<div class="form-with-title">
		<h2 class="text-center mb-4">Edit the meeting</h2>
		<%= simple_form_for [@company, @meeting], remote: true do |f| %>
		<%= f.input :start_time, label: "Starts at", as: :string, required: false, input_html: {class: "datepicker"} %>
		<%= f.input :end_time, label: "End", as: :string, required: false, input_html: {class: "datepicker"} %>
		<%= f.input :title, label: "Object" %>
		<%= f.input :description %>
		<div class="form-actions d-flex justify-content-center">
			<%= f.submit "Edit Meeting", class: 'btn button color-yellow' %>
			<%= link_to "Back", :back, class: 'btn button color-yellow ml-4' %>
		</div>
		<% end %>
	</div>
</div>
