<div class="container footer-fix">
  <div class="meeting-show-card">
		<div>
			<div class="d-flex justify-content-between">
				<div>
					<h3 class="title-card"><%= @meeting.title %></h3>
					<p class="underlined">Lead by <%= @owner.first_name %> <%= @owner.last_name %></p>
				</div>
				<div class="pt-2">
					<p class="title-card">Meeting the <%= @meeting.start_time.day.ordinalize %> <%= @meeting.start_time.strftime("%B %Y") %></p>
					<p class="text-right title-card"> At: <%= @meeting.start_time.strftime("%H:%M") %> To: <%= @meeting.end_time.strftime("%H:%M") %></p>
				</div>
			</div>
		</div>
		<div class="d-flex flex-column align-items-center my-3">
			<p class="title-card">Description:</p>
			<p><%= @meeting.description %></p>
      <% unless @meeting.activity_address == nil || @meeting.activity_address == '' || @meeting.activity_address == 'undefined' %>
        <p class="title-card">Address:</p>
        <p> <%= @meeting.activity_address %> </p>
      <% end %>
		</div>
		<div class="d-flex justify-content-center">
			<%= link_to "My planning", company_meetings_path(current_user.company.name), class: "button color-yellow medium mr-3" %>
			<% if Participate.where(user: current_user, meeting: @meeting)[0].owner %>
				<%= link_to "Edit Meeting", edit_company_meeting_path(current_user.company.name, @meeting), class: "button color-blue medium mr-3" %>
				<%= link_to "Cancel Meeting", company_meeting_path(current_user.company.name, @meeting), method: :delete, class: "button color-fire medium" %>
			<% end %>
		</div>
	</div>

	<div class="meeting-show-card">
		<h3 class="mb-4">Attendees</h3>
			<div class="row">
				<% @meeting.participates.each do |participate|%>
					<div class="col-4">
						<%= participate.user.first_name %> <%= participate.user.last_name %>
						<%= link_to company_meeting_participate_path(current_user.company.name, @meeting, participate), method: :delete do %>
							<% if participate.user_id == current_user.id%>
								<p></p>
							<% else %>
								<i class="fas fa-user-times"></i>
							<%end %>
						<% end %>
					</div>
				<% end %>
			</div>
	</div>


	<div class="form-with-title form-show-meeting">
	  <h3 class="text-center mb-4">Add attendees</h3>
    <div class="d-flex justify-content-center">
  		<%= simple_form_for :name, url:  company_meeting_participates_path(current_user.company.name, @meeting), remote: true do |f| %>
  		<%= f.input :participate, label: false, collection: current_user.company.full_name, input_html: {multiple: 'multiple', hidden: true, class: 'js-example-basic-multiple', style: 'width: 500px;'} %>
    </div>
		<div class="form-actions d-flex justify-content-center">
		  <%= f.submit "Add someone", class: "btn button color-yellow" %>
		</div>
		<% end %>
	</div>
</div>