<div class="col-2 d-none" id="users-list">
	<div class="d-flex justify-content-center align-items-center">
		<%= link_to "Conversations", company_conversations_path(current_user.company.name), class:"button color-yellow" %>
	</div>
	<div class="p-4">
		<% current_user.company.users.each do |user| %>
			<% unless user == current_user %>
				<li class="list-group-item conversations-menu-user" data-conversation-name="<%= user.first_name %>%20<%= user.last_name %>">
					<% if user.photo.attachment%>
      			<%= cl_image_tag user.photo.key, class: "avatar dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
    			<% else %>
      			<%= image_tag "https://www.worldofmanga.fr/img/default-men.png", class: "avatar dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    			<% end %>
					<%= user.first_name %> <%= user.last_name %> 
				</li>
			<% end %>
		<% end %>
	</div>
</div>
