<div class="navbar navbar-expand-sm navbar-light navbar-welcomer d-flex">
  <%= link_to "/", class: "navbar-icon" do %>
      <i class="fab fa-2x fa-ioxhost"></i>
  <% end %>
  <div>
    <%= link_to "Dashboard", root_path, class: 'navbar-tabs' %>
    <%= link_to "Entreprise", root_path, class: 'navbar-tabs' %>
    <%= link_to "Planning", root_path, class: 'navbar-tabs' %>
    <%= link_to "Team", root_path, class: 'navbar-tabs no-margin-last' %>
  </div>
  <% if user_signed_in? %>
    <%= image_tag "https://www.worldofmanga.fr/img/default-men.png", class: "avatar dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My account", root_path, class: "dropdown-item" %>
              <%= link_to "My team", root_path, class: "dropdown-item" %>
              <%= link_to "Onboard", root_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  <% else %>
    <%= link_to 'Log in', new_user_session_path, class: 'button'  %>
  <% end %>
</div>
