<div class="navbar navbar-expand-sm navbar-light navbar-welcomer d-flex">
  <% if user_signed_in? %>
    <% if current_user.company.logo.attachment %>
      <%= link_to "/" do%>
        <%= cl_image_tag current_user.company.logo.key, class: "avatar" %>
      <% end %>
    <% else %>
      <%= link_to "/", class: "navbar-icon" do %>
        <img src="https://res.cloudinary.com/dsaxkp6xo/image/upload/v1607366241/logo_welcomer_zogh93.png" alt="logo welcomer">
      <% end %>
    <% end %>
  <% else %>
    <%= link_to "/", class: "navbar-icon" do %>
        <img src="https://res.cloudinary.com/dsaxkp6xo/image/upload/v1607366241/logo_welcomer_zogh93.png" alt="logo welcomer">
    <% end %>
  <% end   %>

<% if user_signed_in? %>

  <!-- Route du newcomer -->
  <% if current_user.role == 'Newcomer' %>
    <div class="d-flex">
      <div class='<%= 'active'if current_page?(company_dashboard_path(current_user.company.name, current_user.id)) %> margin-tab' >
        <%= link_to "Dashboard", company_dashboard_path(current_user.company.name, current_user.id), class: 'navbar-tabs' %>
      </div>
      <div class='<%= 'active'if current_page?(company_libraries_path(current_user.company.name)) %> margin-tab' >
        <%= link_to "Entreprise", company_libraries_path(current_user.company.name), class: 'navbar-tabs' %>
      </div>
      <div class='<%= 'active'if current_page?(company_meetings_path(current_user.company.name)) %> margin-tab' >
        <%= link_to "Planning", company_meetings_path(current_user.company.name), class: 'navbar-tabs' %>
      </div>
      <div class='<%= 'active'if current_page?(company_team_path(current_user.company.name, current_user.team)) %> margin-tab' >
        <%= link_to "Teams", company_team_path(current_user.company.name, current_user.team), class: 'navbar-tabs no-margin-last' %>
      </div>
    </div>

  <!-- Route du RH -->
  <% elsif current_user.role == 'RH' %>
    <div class="d-flex">
      <div class='<%= 'active'if current_page?(company_dashboards_path(current_user.company.name)) %> margin-tab' >
        <%= link_to "Overview", company_dashboards_path(current_user.company.name), class: 'navbar-tabs' %>
      </div>
      <div class='<%= 'active'if current_page?(company_libraries_path(current_user.company.name)) %> margin-tab' >
        <%= link_to "Entreprise", company_libraries_path(current_user.company.name), class: 'navbar-tabs' %>
      </div>
      <div class='<%= 'active'if current_page?(company_meetings_path(current_user.company.name)) %> margin-tab' >
        <%= link_to "Planning", company_meetings_path(current_user.company.name), class: 'navbar-tabs' %>
      </div>
      <div class='<%= 'active'if current_page?(company_teams_path(current_user.company.name)) %> margin-tab' >
        <%= link_to "Team", company_teams_path(current_user.company.name), class: 'navbar-tabs no-margin-last' %>
      </div>
    </div>

  <!-- Route du manager -->
  <% elsif current_user.role == 'Manager' %>
   <div class="d-flex">
      <div class='<%= 'active'if current_page?(company_dashboards_path(current_user.company.name)) %> margin-tab' >
        <%= link_to "Dashboard", company_dashboards_path(current_user.company.name), class: 'navbar-tabs'%>
      </div>
      <div class='<%= 'active'if current_page?(company_libraries_path(current_user.company.name)) %> margin-tab' >
          <%= link_to "Entreprise", company_libraries_path(current_user.company.name), class: 'navbar-tabs' %>
      </div>
      <div class='<%= 'active'if current_page?(company_meetings_path(current_user.company.name)) %> margin-tab' >
        <%= link_to "Planning", company_meetings_path(current_user.company.name), class: 'navbar-tabs' %>
      </div>
      <div class='<%= 'active'if current_page?(company_team_path(current_user.company.name, current_user.team)) %> margin-tab' >
        <%= link_to "Team", company_team_path(current_user.company.name, current_user.team), class: 'navbar-tabs no-margin-last' %>
      </div>
    </div>

<!-- Route des teammates -->
  <% else %>
    <div class="d-flex">
      <div class='<%= 'active'if current_page?(company_dashboard_path(current_user.company.name, current_user.id)) %>margin-tab' >
        <%= link_to "Dashboard", company_dashboard_path(current_user.company.name, current_user.id), class: 'navbar-tabs' %>
      </div>
      <div class='<%= 'active'if current_page?(company_libraries_path(current_user.company)) %>margin-tab' >
        <%= link_to "Entreprise", company_libraries_path(current_user.company), class: 'navbar-tabs' %>
      </div>
      <div class='<%= 'active'if current_page?(company_meetings_path(current_user.company.name)) %>margin-tab' >
        <%= link_to "Planning", company_meetings_path(current_user.company.name), class: 'navbar-tabs' %>
      </div>
      <div class='<%= 'active'if current_page?(company_team_path(current_user.company.name, current_user.team)) %> margin-tab' >
        <%= link_to "Team", company_team_path(current_user.company.name, current_user.team), class: 'navbar-tabs no-margin-last' %>
      </div>
    </div>
  <% end %>
<% else %>
<% end %>

<!-- Notifications -->
  <% if user_signed_in? %>
  <div class='d-flex align-items-center'>
    <div id='bell'>
      <i class="far fa-bell mr-4 bell-class fa-lg"></i>
      <% if current_user.notifications.where(seen: false).count != 0 %>
        <div class='red-circle'>
          <%= current_user.notifications.where(seen: false).count %>
        </div>
      <% end %>
    </div>
    <div class='d-none' id='notifications-dropdown'>
      <div class ='mt-3'>
        <h2 class='notif-title'> Notifications</h2>
        <% if current_user.notifications.count == 0 %>
          <p>No notifications, yet!</p>
        <% else %>
          <p >New (<%= current_user.notifications.select { |notifi| notifi.seen == false }.count %>)</p>
          <% current_user.notifications.select { |notifi| notifi.seen == false }.each do |notif| %>
            <p class='icon-calendar'>
              <% if notif.type == "MeetingNotification" %>
                <i class="far fa-calendar mr-2"></i>
              <% else %>
                <i class="far fa-file-alt"></i>
              <% end %>
              <%= link_to notif.to_notification.message, notif.to_notification.url, method: :patch, class: 'icon-calendar'  %>
            </p>
          <% end %>
          <p>Already seen</p>
          <% current_user.notifications.select { |notifi| notifi.seen }.each do |notif| %>
            <p class='seen-icon'>
              <% if notif.type == "MeetingNotification" %>
                <i class="far fa-calendar mr-2"></i>
              <% else %>
                <i class="far fa-file-alt"></i>
              <% end %>
              <%= link_to notif.to_notification.message, notif.to_notification.url, method: :patch, class: 'seen-icon' %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if current_user.photo.attachment%>
      <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
    <% else %>
      <%= image_tag "https://www.worldofmanga.fr/img/default-men.png", class: "avatar dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My account", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>
  <% else %>
    <%= link_to 'Log in', new_user_session_path, class: 'button-navbar'  %>
  <% end %>
</div>
