<div class="navbar navbar-expand-sm navbar-light navbar-welcomer d-flex">
  <%= link_to "/", class: "navbar-icon" do %>
      <i class="fab fa-2x fa-ioxhost"></i>
  <% end %>

<!-- Les routes ne sont pas encore actualisées car elle n'existe pas encore -->
<% if user_signed_in? %>
  <% if current_user.role == 'newcomer' %>
    <div>
      <%= link_to "Dashboard", root_path, class: 'navbar-tabs' %>
      <%= link_to "Entreprise", root_path, class: 'navbar-tabs' %>
      <%= link_to "Planning", root_path, class: 'navbar-tabs' %>
      <%= link_to "Team", root_path, class: 'navbar-tabs no-margin-last' %>
    </div>
  <% elsif current_user.role == 'hr' %>
    <div>
      <%= link_to "Overview", company_dashboards_path(current_user.company.name), class: 'navbar-tabs' %>
      <%= link_to "Entreprise", root_path, class: 'navbar-tabs' %>
    </div>
  <% elsif current_user.role == 'manager' %>
   <div>
      <%= link_to "Dashboard", company_dashboards_path(current_user.company.name), class: 'navbar-tabs' %>
      <%= link_to "Entreprise", root_path, class: 'navbar-tabs' %>
      <%= link_to "Planning", root_path, class: 'navbar-tabs' %>
      <%= link_to "Team", root_path, class: 'navbar-tabs no-margin-last' %>
    </div>
  <% else %>
    <div>
      <%= link_to "Dashboard", root_path, class: 'navbar-tabs' %>
      <%= link_to "Entreprise", root_path, class: 'navbar-tabs' %>
      <%= link_to "Planning", root_path, class: 'navbar-tabs' %>
      <%= link_to "Team", root_path, class: 'navbar-tabs no-margin-last' %>
    </div>
  <% end %>
<% else %>
<% end %>
  <% if user_signed_in? %>
    <% if current_user.photo.attachment%>
      <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
    <% else %>
      <%= image_tag "https://www.worldofmanga.fr/img/default-men.png", class: "avatar dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My account", root_path, class: "dropdown-item" %>
              <%= link_to "My team", root_path, class: "dropdown-item" %>
              <%= link_to "Onboard", root_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  <% else %>
    <%= link_to 'Log in', new_user_session_path, class: 'button-navbar'  %>
  <% end %>
</div>
