<div class="container">
  <h1>Online Library</h1>
  <%= console %>

  <% if @company_libraries.exists? %>
    <% @company_libraries.each do |library| %>
      <% library.files.each do |file| %>
        <%= cl_image_tag file.key, height: 300, width: 400, crop: :fill, format: :png%>
      <% end %>
    <% end %>
  <% else %>
    <% if current_user.role == "RH" %>
      <p>The library is empty ! Start uploading documents </p>
    <% else %>
      <p>The library is empty !</p>
    <% end %>
  <% end %>




  <%= simple_form_for [@company, @library] do |f|%>
    <%= f.input :files, as: :file, label: false, input_html: { multiple: true } %>
    <%= f.submit("Add") %>
  <% end %>
  <%= link_to "Add a file", company_libraries_path, class: "button color-blue" %>
</div>
