<div class="container">
  <h1>Online Library</h1>
  <div class="layout-library white-card">
      <% if @company_libraries.exists? %>
        <% @company_libraries.each do |library| %>
          <div class="card-library color-yellow">
            <%= cl_image_tag library.file.key, height: 100, width: 100, crop: :fill, format: :png, radius: "max", gravity: "north"%>
            <h5><%= library.label %></h5>
          </div>
         <% end %>
      <% else %>
        <% if current_user.role == "hr" %>
          <p>The library is empty ! Start uploading documents </p>
        <% else %>
          <p>The library is empty !</p>
        <% end %>
      <% end %>
  </div>

  <div class="form-box">
    <% if current_user.role == "hr" %>
    <div class="button color-fire" id="addfile">Add a file</div>
    <% end %>

    <div class="d-none" id="tohide">
        <%= simple_form_for [@company, @library] do |f|%>
        <%= f.input :label, label: "Title of the document" %>
        <%= f.input :file, as: :file, label: false%>
        <%= f.submit"Add", class: "button color-fire" %>
        <% end %>
    </div>
  </div>




</div>
