<div class="simple-calendar">
  <div class="calendar-heading text-center m-2 d-flex align-items-center justify-content-center">
    <%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view, class: "color-fire-font mr-3" %>
    <span class="calendar-title month-name"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view, class: "color-fire-font ml-3" %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="text-center days" id= '<%= t('date.day_names')[day.wday] %>'><%= t('date.day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
            <%= link_to "+", new_company_meeting_path(current_user.company.name, date: day), class: "meeting-button d-none button-meeting " %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day.day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day.day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
