<div class="container footer-fix">
  <div class="grid-dashboard-container">

    <!-- Présentation du welcomee-->
    <div class="presentation-section card-dashboard">
      <div>
        <% if @user.photo.attachment%>
          <%= cl_image_tag @user.photo.key, class: "avatar-xl" %>
        <% else %>
          <%= image_tag "https://www.worldofmanga.fr/img/default-men.png", class: "avatar-xl" %>
        <% end %>
      </div>
      <h2 class='title-dashboard'> <%= @user.first_name + " " + @user.last_name %> </h2>
      <div>
        <p> <strong>Email:</strong> <%= @user.email %></p>
        <p> <strong>Job:</strong> <%= @user.job.capitalize %></p>
        <p> <strong>Team:</strong> <%=@user.team.name.capitalize %></p>
      </div>
      <% if current_user.role =='RH' %>
        <%= link_to company_edit_user_role_path(@company, @user), class: 'button color-yellow edit-role' do %>
          <i class="fas fa-pen"></i>
        <% end %>
      <% end %>
    </div>

    <!-- Avancée dans l'onboard -->
    <div class="onboard-section">
      <h3><%= @user.arrives_in %> !</h3>
        <canvas id="progress-bar-dashboard" data-done="<%= @user.progression %>" data-todo ="<%= 100 - @user.progression %>"> </canvas>
        <p class = "progression-number"> <strong><%= @user.progression %> % </strong> </br>Progression in </br>the program </p>
    </div>

    <!-- Planning -->
    <div class ='calendar-section card-dashboard'>
      <%= link_to company_meetings_path(current_user.company.name) do  %>
      <h2>Upcoming meetings</h2>
        <% if @meetings != [] %>
            <% @meetings.each do |meeting| %>
              <div class="calendar-grid">
              <% if meeting.start_time <= Time.now && meeting.end_time >= Time.now %>
                  <p class='tiny-tag color-green document-status-tag' style = "font-size: 8px"> Currently</p>
                  <p class= "document-label-tag"> <%= meeting.start_time.strftime("%d %b") %> - <%= meeting.start_time.strftime("%Hh%M") %> : <%= meeting.title %> </p>
              <% else %>
                  <p class='tiny-tag color-blue document-status-tag' style = "font-size: 10px"> To come </p>
                  <p class= "document-label-tag" > <%= meeting.start_time.strftime("%d %b") %> - <%= meeting.start_time.strftime("%Hh%M") %> : <%= meeting.title %> </p>
              <% end %>
              </div>
            <% end %>
        <% else %>
          <p>Nothing planned ! 🏖</p>
        <% end %>
        <% end %>
    </div>

    <!-- Missions -->
    <div class='missions-section card-dashboard'>
      <% if current_user.role =='Manager' %>
        <h2>Missions</h2>
          <div class='edit-missions-manager'>
            <%= link_to 'Add a mission', company_new_user_mission_path(@company, @user), class: 'button-dashboard color-yellow mr-2'  %>
            <span id= 'button-edit-mission' class='button-dashboard color-yellow py-1'>Edit</span>
          </div>
      <% else %>
        <h2 class='mb-3'>Missions</h2>
      <% end %>

      <div class='missions-description'>
        <% @missions.each do |mission| %>
          <%if mission.status == 'Not mastered' %>
            <div class='mission-tag'>
              <% if current_user == @user %>
                <%= link_to company_edit_user_mission_path(@company, @user, mission) do  %>
                  <p class='tag-alert'> <%= mission.status %> </p>
                <% end %>
              <% else %>
                <p class='tag-alert'> <%= mission.status %> </p>
              <% end %>
            </div>
            <p class='mission-details'><strong><%= mission.name %></strong> <br> <%= mission.description %> </p>
            <div class = 'mission-edit-details-manager'>
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_mission_path(@company, @user, mission) do%>
                  <i class="far fa-edit icon-mission d-none" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_mission_path(@company, @user, mission), method: :delete do%>
                  <i class="far fa-times-circle icon-mission d-none" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>

          <% elsif mission.status == 'Mastered' %>
            <div class='mission-tag'>
              <% if current_user == @user %>
                <%= link_to company_edit_user_mission_path(@company, @user, mission) do  %>
                  <p class='tag-understood'> <%= mission.status %></p>
                <% end %>
              <% else %>
                <p class='tag-understood'> <%= mission.status %></p>
              <% end %>
            </div>
            <p class='mission-details'><strong><%= mission.name %></strong> <br> <%= mission.description %> </p>
            <div class="mission-edit-details-manager">
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_mission_path(@company, @user, mission) do%>
                  <i class="far fa-edit icon-mission d-none" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_mission_path(@company, @user, mission), method: :delete do%>
                  <i class="far fa-times-circle icon-mission d-none" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>

          <% else %>
            <div class='mission-tag'>
              <% if current_user == @user %>
                <%= link_to company_edit_user_mission_path(@company, @user, mission) do  %>
                  <p class='tag-progress'> <%= mission.status %></p>
                <% end %>
              <% else %>
                <p class='tag-progress'> <%= mission.status %></p>
              <% end %>
            </div>
            <p class='mission-details'><strong><%= mission.name %></strong> <br> <%= mission.description %> </p>
            <div class="align-self-start">
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_mission_path(@company, @user, mission) do%>
                  <i class="far fa-edit icon-mission d-none" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_mission_path(@company, @user, mission), method: :delete do%>
                  <i class="far fa-times-circle icon-mission d-none" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- Habits -->

    <div class="habit-sample card-dashboard">
      <h2>Good habits <i class="fas fa-check-circle"></i></h2>
      <% if @habits.exists? %>
        <p class="text-center"><%= @habits.sample.name %></p>
        <%= link_to "Show all", company_user_habits_path(@company, @user)  %>
      <% else %>
        <p>There are no habits yet !</p>
      <% end %>
      <% if current_user.role =='Manager' %>
        <%= link_to company_user_habits_path(@company, @user), class: 'button color-yellow edit-habit' do %>
          <i class="fas fa-pen"></i>
        <% end %>
      <% end %>
    </div>
<!--
    <div class='habits-section card-dashboard d-none'>
      <% if current_user.role =='Manager' %>
          <div class="d-flex justify-content-between mb-3">
            <h2>Habits</h2>
            <div class='align-self-center'>
              <%= link_to 'Add a habit', company_new_user_habit_path(@company, @user), class: 'button-dashboard color-yellow mr-2'  %>
              <span id= 'button-edit-habit' class='button-dashboard color-yellow mr-3 py-1'>Edit</span>
            </div>
          </div>
        <% else %>
          <h2 class='mb-3'>Habits</h2>
        <% end %>
      <% @habits.each do |habit| %>
        <div class='d-flex px-3 justify-content-between align-items-center'>
          <%if habit.status == 'Not mastered' %>
            <div class="d-flex">
              <% if current_user == @user %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do  %>
                  <p class='mr-3 tag-alert'> <%= habit.status %> </p>
                <% end %>
              <% else %>
                <p class='mr-3 tag-alert'><%= habit.status %></p>
              <% end %>
              <p class='mr-1'><%= habit.name %><p>
            </div>
            <div class="align-self-start">
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do%>
                  <i class="far fa-edit icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_habit_path(@company, @user, habit), method: :delete do%>
                  <i class="far fa-times-circle icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
          <% elsif habit.status == 'Mastered' %>
            <div class="d-flex">
              <% if current_user == @user %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do  %>
                  <p class='mr-3 tag-understood'> <%= habit.status %></p>
                <% end %>
              <% else %>
                <p class='mr-3 tag-understood'> <%= habit.status %></p>
              <% end %>
              <p class='mr-1'><%= habit.name %><p>
            </div>
            <div class="align-self-start">
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do%>
                  <i class="far fa-edit icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_habit_path(@company, @user, habit), method: :delete do%>
                  <i class="far fa-times-circle icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex">
              <% if current_user == @user %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do  %>
                  <p class='mr-3 tag-progress'> <%= habit.status %> </p>
                <% end %>
              <% else %>
                <p class='mr-3 tag-progress'> <%= habit.status %> </p>
              <% end %>
              <p class='mr-1'><%= habit.name %><p>
            </div>
            <div class="align-self-start">
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do%>
                  <i class="far fa-edit icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_habit_path(@company, @user, habit), method: :delete do%>
                  <i class="far fa-times-circle icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div> -->

    <!-- Documents -->
    <div class='documents-section card-dashboard'>
      <%= link_to company_personal_libraries_path(@company, @user) do %>
        <h2>Documents</h2>
        <div class="document-description">
          <%@personal_libraries.each do |library| %>
          <% if library.status == "Not read" %>
            <span class="document-status-tag tiny-tag color-fire"><%= library.status %></span>
          <% elsif library.status == "Read" %>
            <span class="document-status-tag tiny-tag color-yellow"><%= library.status %></span>
          <% else %>
            <span class="document-status-tag tiny-tag color-green"><%= library.status %></span>
          <% end %>

            <span class="document-label-tag"><%= library.label %> </span>
          <% end %>

        </div>
      <% end %>
    </div>
    </div>

    <!-- Chat -->
    <div class='d-none chat-section card-dashboard'>
      <h2>Chat</h2>
      <p>Work in progress. Ready next Friday.</p>
    </div>

</div>

