<div class="container">
  <div class="grid-dashboard-container">
    <div class='missions-section card-dashboard'>
      <div class='d-flex'>
        <% if @user.photo.attachment%>
          <%= cl_image_tag @user.photo.key, class: "avatar defaut avatar-bordered m-2" %>
        <% else %>
          <%= image_tag "https://www.worldofmanga.fr/img/default-men.png", class: "avatar defaut avatar-bordered m-2" %>
        <% end %>
        <h2 class='title-dashboard'> <%= @user.first_name + " " + @user.last_name %> </h2>
      </div>
      <div class='mt-2'>
        <h2>Missions</h2>
        <% @missions.each do |mission| %>
          <div class='d-flex justify-content-between px-3 align-items-center'>
            <%if mission.status == 'Not mastered' %>
            <div class='d-flex'>
              <% if current_user == @user %>
                <%= link_to company_edit_user_mission_path(@company, @user, mission) do  %>
                  <p class='mr-1 tag-alert'> <%= mission.status %> </p>
                <% end %>
              <% else %>
                <p class='mr-1 tag-alert'> <%= mission.status %> </p>
              <% end %>
              <p class='mr-1'><%= mission.name.length > 20 ? mission.name.first(20) + '...' : mission.name %><p>
            </div>
            <div class = 'align-self-start'>
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_mission_path(@company, @user, mission) do%>
                  <i class="far fa-edit" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_mission_path(@company, @user, mission), method: :delete do%>
                  <i class="far fa-times-circle" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
            <% elsif mission.status == 'Mastered' %>
              <div class='d-flex'>
                <% if current_user == @user %>
                  <%= link_to company_edit_user_mission_path(@company, @user, mission) do  %>
                    <p class='mr-1 tag-understood'> <%= mission.status %></p>
                  <% end %>
                <% else %>
                  <p class='mr-1 tag-understood'> <%= mission.status %></p>
                <% end %>
                <p class='mr-1'><%= mission.name.length > 20 ? mission.name.first(20) + '...' : mission.name %><p>
              </div>
              <div class="align-self-start">
                <% if current_user.role == 'Manager' %>
                  <%= link_to company_edit_user_mission_path(@company, @user, mission) do%>
                    <i class="far fa-edit" style='color: #353A47;'></i>
                  <% end %>
                  <%= link_to company_user_mission_path(@company, @user, mission), method: :delete do%>
                    <i class="far fa-times-circle" style='color: #353A47;'></i>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class='d-flex'>
                <% if current_user == @user %>
                  <%= link_to company_edit_user_mission_path(@company, @user, mission) do  %>
                    <p class='mr-1 tag-progress'> <%= mission.status %></p>
                  <% end %>
                <% else %>
                  <p class='mr-1 tag-progress'> <%= mission.status %></p>
                <% end %>
                <p class='mr-1'><%= mission.name.length > 20 ? mission.name.first(20) + '...' : mission.name  %><p>
              </div>
              <div class="align-self-start">
                <% if current_user.role == 'Manager' %>
                  <%= link_to company_edit_user_mission_path(@company, @user, mission) do%>
                    <i class="far fa-edit" style='color: #353A47;'></i>
                  <% end %>
                  <%= link_to company_user_mission_path(@company, @user, mission), method: :delete do%>
                    <i class="far fa-times-circle" style='color: #353A47;'></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if current_user.role == 'Manager' %>
        <div class='text-center'>
          <%= link_to 'Add a mission', company_new_user_mission_path(@company, @user), class: 'button-dashboard color-yellow'  %>
        </div>
      <% end %>
    </div>

    <div class='habits-section card-dashboard'>
      <h2>Habits</h2>
      <% @habits.each do |habit| %>
        <div class='d-flex px-3 justify-content-between align-items-center'>
          <%if habit.status == 'Not mastered' %>
            <div class="d-flex">
              <% if current_user == @user %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do  %>
                  <p class='mr-1 tag-alert'> <%= habit.status %> </p>
                <% end %>
              <% else %>
                <p class='mr-1 tag-alert'><%= habit.status %></p>
              <% end %>
              <p class='mr-1'><%= habit.name %><p>
            </div>
            <div class="align-self-start">
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do%>
                  <i class="far fa-edit" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_habit_path(@company, @user, habit), method: :delete do%>
                  <i class="far fa-times-circle" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
          <% elsif habit.status == 'Mastered' %>
            <div class="d-flex">
              <% if current_user == @user %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do  %>
                  <p class='mr-1 tag-understood'> <%= habit.status %></p>
                <% end %>
              <% else %>
                <p class='mr-1 tag-understood'> <%= habit.status %></p>
              <% end %>
              <p class='mr-1'><%= habit.name %><p>
            </div>
            <div class="align-self-start">
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do%>
                  <i class="far fa-edit" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_habit_path(@company, @user, habit), method: :delete do%>
                  <i class="far fa-times-circle" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex">
              <% if current_user == @user %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do  %>
                  <p class='mr-1 tag-progress'> <%= habit.status %> </p>
                <% end %>
              <% else %>
                <p class='mr-1 tag-progress'> <%= habit.status %> </p>
              <% end %>
              <p class='mr-1'><%= habit.name %><p>
            </div>
            <div class="align-self-start">
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do%>
                  <i class="far fa-edit" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_habit_path(@company, @user, habit), method: :delete do%>
                  <i class="far fa-times-circle" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if current_user.role == 'Manager' %>
        <div class="text-center">
          <%= link_to 'Add a habit', company_new_user_habit_path(@company, @user), class: 'button-dashboard color-yellow'  %>
        </div>
      <% end %>
    </div>

    <div class='documents-section card-dashboard'>
      <p>It will become the document session</p>
    </div>
    <div class ='chat-section card-dashboard'>
      <h2><%= Time.now.strftime("Today : %d %B %Y") %></h2>
      <p>Meetings :</p>
      <% if @meetings != [] %>
        <ul>
          <% @meetings.each do |meeting| %>
            <li><%= meeting.title %> <%= meeting.start_time.strftime(" le %d/%m à %H:%M") %></li>
          <% end %>
        </ul>
      <% else %>
        <p>No meetings for today !</p>
      <% end %>
    </div>
  </div>
</div>
