<div class="container">
  <div class="grid-dashboard-container">

    <!-- Présentation -->
    <div class="presentation-section card-dashboard">
      <div class='d-flex'>
        <% if @user.photo.attachment%>
          <%= cl_image_tag @user.photo.key, class: "avatar defaut fifty-px avatar-bordered-cloud m-2" %>
        <% else %>
          <%= image_tag "https://www.worldofmanga.fr/img/default-men.png", class: "avatar fifty-px avatar-bordered-cloud m-2" %>
        <% end %>
        <h2 class='title-dashboard'> <%= @user.first_name + " " + @user.last_name %> </h2>
      </div>
      <div>
        <p> <strong>Name:</strong> <%= @user.email %></p>
        <p> <strong>Job:</strong> <%= @user.job.capitalize %></p>
        <p> <strong>Team:</strong> <%=@user.team.name.capitalize %></p>
      </div>
      <% if @average == 100 %>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: <%="#{@user.progression}%"%>;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><%= @user.progression %>%</div>
        </div>
      <% else %>
        <div class="progress">
          <div class="progress-bar bg-yellow" role="progressbar" style="width: <%="#{@user.progression}%"%>;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><%= @user.progression %>%</div>
        </div>
        <br>
        <div>
        </div>
      <% end %>
    </div>
          <%= link_to "Change the status", company_edit_user_role_path(@company, @user), class: 'button color-yellow center' %>

    <!-- Calendar -->
    <%= link_to company_meetings_path(current_user.company.name) do  %>
      <div class ='calendar-section card-dashboard'>
      <h2><%= Time.now.strftime("%d %B %Y") %></h2>
      <% if @meetings != [] %>
          <% @meetings.first(4).each do |meeting| %>
            <% if meeting.end_time <= Time.now %>
              <div class="d-flex justify-content-between align-items-center">
                <p class='tag-alert' style='width: 50px; font-size: 9px; text-align: center; padding: 2px 5px; padding-top: 4px;'> Past</p>
                <p><%= meeting.start_time.strftime("%Hh%M") %> - <%= meeting.end_time.strftime("%Hh%M :") %> <%= meeting.title %> </p>
              </div>
            <% elsif meeting.start_time <= Time.now && meeting.end_time >= Time.now %>
              <div class="d-flex justify-content-between align-items-center">
                <p class='tag-progress' style='width: 50px; font-size: 9px; text-align: center; padding: 2px 5px; padding-top: 4px;'> Currently</p>
                <p><%= meeting.start_time.strftime("%Hh%M") %> - <%= meeting.end_time.strftime("%Hh%M :") %> <%= meeting.title %> </p>
              </div>
            <% else %>
              <div class="d-flex justify-content-between align-items-center">
                <p class='tag-understood' style='width: 50px; font-size: 9px; text-align: center; padding: 2px 5px; padding-top: 4px;'> To come </p>
                <p><%= meeting.start_time.strftime("%Hh%M") %> - <%= meeting.end_time.strftime("%Hh%M :") %> <%= meeting.title %> </p>
              </div>
            <% end %>
          <% end %>
      <% else %>
        <p>No meetings for today !</p>
      <% end %>
      </div>
    <% end %>
    <!-- Missions -->
    <div class='missions-section card-dashboard'>
        <% if current_user.role =='Manager' %>
          <div class="d-flex justify-content-between mb-3">
            <h2>Missions</h2>
            <div class='align-self-center'>
              <%= link_to 'Add a mission', company_new_user_mission_path(@company, @user), class: 'button-dashboard color-yellow mr-2'  %>
              <span id= 'button-edit-mission' class='button-dashboard color-yellow mr-3 py-1'>Edit</span>
            </div>
          </div>
        <% else %>
          <h2 class='mb-3'>Missions</h2>
        <% end %>

        <% @missions.each do |mission| %>
          <div class='d-flex justify-content-between align-items-center px-3'>
            <%if mission.status == 'Not mastered' %>
            <div class='d-flex'>
              <% if current_user == @user %>
                <%= link_to company_edit_user_mission_path(@company, @user, mission) do  %>
                  <p class='mr-3 tag-alert'> <%= mission.status %> </p>
                <% end %>
              <% else %>
                <p class='mr-3 tag-alert'> <%= mission.status %> </p>
              <% end %>
              <p class='mr-1'><%= mission.name %><p>
            </div>
            <div class = 'align-self-start'>
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_mission_path(@company, @user, mission) do%>
                  <i class="far fa-edit icon-mission d-none" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_mission_path(@company, @user, mission), method: :delete do%>
                  <i class="far fa-times-circle icon-mission d-none" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
            <% elsif mission.status == 'Mastered' %>
              <div class='d-flex'>
                <% if current_user == @user %>
                  <%= link_to company_edit_user_mission_path(@company, @user, mission) do  %>
                    <p class='mr-3 tag-understood'> <%= mission.status %></p>
                  <% end %>
                <% else %>
                  <p class='mr-3 tag-understood'> <%= mission.status %></p>
                <% end %>
                <p class='mr-1'><%= mission.name %><p>
              </div>
              <div class="align-self-start">
                <% if current_user.role == 'Manager' %>
                  <%= link_to company_edit_user_mission_path(@company, @user, mission) do%>
                    <i class="far fa-edit icon-mission d-none" style='color: #353A47;'></i>
                  <% end %>
                  <%= link_to company_user_mission_path(@company, @user, mission), method: :delete do%>
                    <i class="far fa-times-circle icon-mission d-none" style='color: #353A47;'></i>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class='d-flex'>
                <% if current_user == @user %>
                  <%= link_to company_edit_user_mission_path(@company, @user, mission) do  %>
                    <p class='mr-3 tag-progress'> <%= mission.status %></p>
                  <% end %>
                <% else %>
                  <p class='mr-3 tag-progress'> <%= mission.status %></p>
                <% end %>
                <p class='mr-1'><%= mission.name  %><p>
              </div>
              <div class="align-self-start">
                <% if current_user.role == 'Manager' %>
                  <%= link_to company_edit_user_mission_path(@company, @user, mission) do%>
                    <i class="far fa-edit icon-mission d-none" style='color: #353A47;'></i>
                  <% end %>
                  <%= link_to company_user_mission_path(@company, @user, mission), method: :delete do%>
                    <i class="far fa-times-circle icon-mission d-none" style='color: #353A47;'></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>

    <!-- Habits -->
    <div class='habits-section card-dashboard'>
      <% if current_user.role =='Manager' %>
          <div class="d-flex justify-content-between mb-3">
            <h2>Habits</h2>
            <div class='align-self-center'>
              <%= link_to 'Add a habit', company_new_user_habit_path(@company, @user), class: 'button-dashboard color-yellow mr-2'  %>
              <span id= 'button-edit-habit' class='button-dashboard color-yellow mr-3 py-1'>Edit</span>
            </div>
          </div>
        <% else %>
          <h2 class='mb-3'>Habits</h2>
        <% end %>
      <% @habits.each do |habit| %>
        <div class='d-flex px-3 justify-content-between align-items-center'>
          <%if habit.status == 'Not mastered' %>
            <div class="d-flex">
              <% if current_user == @user %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do  %>
                  <p class='mr-3 tag-alert'> <%= habit.status %> </p>
                <% end %>
              <% else %>
                <p class='mr-3 tag-alert'><%= habit.status %></p>
              <% end %>
              <p class='mr-1'><%= habit.name %><p>
            </div>
            <div class="align-self-start">
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do%>
                  <i class="far fa-edit icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_habit_path(@company, @user, habit), method: :delete do%>
                  <i class="far fa-times-circle icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
          <% elsif habit.status == 'Mastered' %>
            <div class="d-flex">
              <% if current_user == @user %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do  %>
                  <p class='mr-3 tag-understood'> <%= habit.status %></p>
                <% end %>
              <% else %>
                <p class='mr-3 tag-understood'> <%= habit.status %></p>
              <% end %>
              <p class='mr-1'><%= habit.name %><p>
            </div>
            <div class="align-self-start">
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do%>
                  <i class="far fa-edit icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_habit_path(@company, @user, habit), method: :delete do%>
                  <i class="far fa-times-circle icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex">
              <% if current_user == @user %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do  %>
                  <p class='mr-3 tag-progress'> <%= habit.status %> </p>
                <% end %>
              <% else %>
                <p class='mr-3 tag-progress'> <%= habit.status %> </p>
              <% end %>
              <p class='mr-1'><%= habit.name %><p>
            </div>
            <div class="align-self-start">
              <% if current_user.role == 'Manager' %>
                <%= link_to company_edit_user_habit_path(@company, @user, habit) do%>
                  <i class="far fa-edit icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
                <%= link_to company_user_habit_path(@company, @user, habit), method: :delete do%>
                  <i class="far fa-times-circle icon-habit d-none" style='color: #353A47;'></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- Documents -->
    <div class='documents-section card-dashboard'>
      <%= link_to company_personal_libraries_path(@company, @user) do %>
        <h2>Documents</h2>
      <% end %>
      <%@personal_libraries.each do |library| %>
      <p> <%= library.label %> : <%= library.status %></p>
      <% end %>
    </div>

    <!-- Chat -->
    <div class='chat-section card-dashboard'>
      <h2>Chat</h2>
      <p>Work in progress. Ready next Friday.</p>
    </div>
  </div>
</div>
