<!DOCTYPE html>
<html>
  <head>
    <title>The Welcomer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'https://res.cloudinary.com/dsaxkp6xo/image/upload/v1607366241/logo_welcomer_zogh93.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body id="<%=action_name%>_body" <%= "data-no-turbolinks='true'".html_safe if controller_name=="conversations" && action_name=="show" %>>
    <!-- Faire les IF pour la navbar une fois que le front sera codé -->
    <% if controller_name == "pages" %>
      <%= render 'shared/navbar_home' %>
    <% else %>
      <% if (action_name != "window") %>
        <%= render 'shared/navbar' %>
      <% end %>
    <% end %>
    <%= render 'shared/flashes' %>

    <div id="grid">
      <div id="yield-page">
        <%= yield %>
      </div>
      <% if user_signed_in? %>
        <%= render 'shared/conversations' %>
      <% end %>
    </div>
    <% if controller_name != "conversations" %>
      <i class="fas fa-comment"></i>
    <% end %>

    <% unless controller_name == "pages" || action_name == 'window'  %>
      <div class="footer-setting">
        <a href="#"><i class="fab fa-2x fa-instagram mr-4"></i></a>
        <a href="#"><i class="fab fa-2x fa-facebook mr-4"></i></a>
        <a href="#"><i class="fab fa-2x fa-twitter mr-4"></i></a>
        <a href="#"><i class="fab fa-2x fa-linkedin mr-4"></i></a>
      </div>
    <% end %>

  </body>
</html>
